body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f9fa;
  }
  
  #app {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1000px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .inventory-container,
  .cart-container {
    width: 45%;
  }
  
  h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    background-color: 	#C19A6B;
    border-radius: 5px;
  }
  
  button {
    padding: 5px 10px;
    margin-left: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .minus-btn {
    background-color: #d9534f;
    color: white;
   
  }
  
  .plus-btn {
    background-color: #5cb85c;
    color: white;
  }
  
  .add-to-cart-btn {
    background-color: #0275d8;
    color: white;
  }
  
  .delete-btn {
    background-color: #d9534f;
    color: white;
  }
  
  .checkout-btn {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  